<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="js/vue.min.js"></script>
    <script src="js/qrious.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>QRCode Generator</title>
  </head>

  <body>
    <div id="app">
      <h1>{{title}}</h1>
      <div>
        <input
          type="text"
          size="25"
          placeholder="Type to generate..."
          v-model="text"
        />
      </div>

      <div v-if="text" class="output">
        <img :src="newQRCode" alt="QRCode" />
      </div>

      <div id="footer">
        <a
          href="https://www.linkedin.com/in/juanpablodev/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <h3>Made with ❤ and ☕ By <strong>Juan</strong> Pablo</h3>
        </a>
      </div>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          title: "Gerador QRCode",
          text: "",
          qrcode: new QRious({ size: 300 }),
        },
        computed: {
          newQRCode() {
            this.qrcode.value = this.text;
            return this.qrcode.toDataURL();
          },
        },
      });
    </script>
  </body>
</html>
